@import 'tailwindcss';

/* Fonts */
@font-face {
	font-family: 'Eurostile';
	src: url('src/assets/fonts/EurostileMNBold.ttf') format('truetype');
	font-weight: 700;
	font-stretch: expanded;
	font-display: swap;
}

/* Extend theme */
@theme {
	/* Custom fonts */
	--font-eurostile: Eurostile, monospace;

	/* Hero text sizes */
	--text-hero: clamp(6rem, 3.8873rem + 9.0141vw, 12rem);
	--text-hero-sm: clamp(1rem, 0.7535rem + 1.0516vw, 1.7rem);
}

/* Global styles */
.body-bg {
	@apply bg-fixed bg-white;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F0F0F0'/%3E%3Cstop offset='1' stop-color='%23F0F0F0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='10' height='10' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23FFFFFF' cx='5' cy='5' r='5'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' /%3E%3C/svg%3E");
}

.skillCont {
	@apply w-min;
}

.skillCont svg {
	@apply h-full drop-shadow-md grayscale transition duration-500  hover:grayscale-0 hover:scale-110 hover:drop-shadow-xl;
}
