@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

/* Fonts */
@font-face {
	font-family: 'Eurostile-bold';
	src: url('../assets/fonts/EurostileMNBold.ttf') format('truetype');
	font-weight: 700;
	font-stretch: expanded;
	font-display: swap;
}

@font-face {
	font-family: 'Quicksand';
	src: url('../assets/fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
	font-weight: 500;
	font-stretch: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Eurostile-regular';
	src: url('../assets/fonts/EurostileMNRegular.ttf') format('truetype');
	font-weight: 400;
	font-stretch: normal;
	font-display: swap;
}

/* Extend theme */
@theme {
	/* Custom fonts */
	--font-eurostile: Eurostile-bold, monospace;
	--font-eurostile-regular: Eurostile-regular, monospace;
	--font-body: Quicksand, sans-serif;

	/* Hero text sizes */
	--text-hero: clamp(6rem, 3.8873rem + 9.0141vw, 12rem);
	--text-hero-sm: clamp(1rem, 0.7535rem + 1.0516vw, 1.7rem);
}

@custom-variant poi (&:hover, &:focus-visible);

/* Global styles */
body {
	font-family: var(--font-body);
}

.body-bg {
	@apply bg-fixed bg-white dark:bg-black transition duration-500;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F0F0F0'/%3E%3Cstop offset='1' stop-color='%23F0F0F0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='10' height='10' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23FFFFFF' cx='5' cy='5' r='5'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' /%3E%3C/svg%3E");
}

.dark .body-bg {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23262626'/%3E%3Cstop offset='1' stop-color='%23262626'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='10' height='10' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23000000' cx='5' cy='5' r='5'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' /%3E%3C/svg%3E");
}

/* Skill banner classes */
.skillCont {
	@apply w-min flex items-center justify-center;
}

.skillCont svg {
	@apply drop-shadow-md grayscale transition duration-500  hover:grayscale-0 hover:scale-110 hover:drop-shadow-xl;
	height: clamp(2.5rem, 1.2676rem + 5.2582vw, 6rem);
}

.skillHover {
	@apply grayscale-0 scale-110 drop-shadow-xl;
}
