@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Oxanium:wght@200..800&display=swap');

/* Global styles */

body {
background: black;
background: linear-gradient(335deg, black 0%, #001E2D 65%);
background-repeat: no-repeat;
color: #F6F7FF;
font-family: 'Oxanium', sans-serif;
padding-bottom: 57px; /* Accounts for the nav being on the bottom on mobile */
}

h1, h2 {
    font-family: "Krona One", sans-serif;
}

p {
    color: #c4c4c4;
}

/* input[type=text]:focus {
    outline: none;
    border-color: #FA824C;
    box-shadow: 0 0 10px #9ecFA824Caed;
} */

/* Specific styles */

nav {
/* The Bootstrap opactiy is stupid, remove it and target just the background here */
}

#hero {
    /* background-color: lightgray;
    background: url(../images/background.webp) no-repeat 50% 70% / cover; */
    padding: 1% 3%;
}

#about {
    background-color: #F6F7FF;
    border-radius: 30px;
    color: #001E2D;
}

#about p {
    color: #001E2D;
}

#subscribe * {
    color: #001E2D;
}

#portfolio .card-title {
    color: #33658A;
}

#portfolio .btn-outline-secondary:hover {
    background-color: #33658A;
}

#contact {
    background-color: #33658A;
    border-radius: 30px;
}

footer {
    display: none;
}

/* Media queries */
@media screen and (min-width: 576px) {
    body {
        padding-bottom: 0;
        padding-top: 0; /* This is to account for the nav height - remember to change this for all screen sizes */
    }

    footer {
        display: block;
    }

    
}