---
import Base from '../layouts/Base.astro'
import SocialLinks from '../components/sociallinks.astro'
import SkillBanner from '../components/skillBanner.astro'
import ProjectCard from '../components/projectCard.astro'

import { Image } from 'astro:assets'
import AlexBali from '../assets/images/alex-aspinall-bali.webp'
---

<Base title="Home">
	<header class="flex flex-col h-svh">
		<SocialLinks />
		<div
			class="mb-[4rem] flex flex-col grow items-center justify-center bg-white dark:bg-black shadow-(--shadow-y-lg)"
		>
			<div id="heroText" class="flex flex-col justify-center mx-3 leading-none w-fit grow">
				<h1 class="mb-6 text-hero">Alex Aspinall.</h1>
				<h2
					class="mb-3 font-bold tracking-wider uppercase text-hero-sm font-eurostile text-nowrap"
				>
					<span class="underline decoration-4 underline-offset-8 decoration-blue-500"
						>Full-stack</span
					>
					<span class="underline decoration-4 underline-offset-8 decoration-amber-600"
						>Web Developer</span
					>
				</h2>
				<!-- <h3 class="text-hero-sm font-eurostile-regular">Call to action</h3> -->
			</div>
			<SkillBanner />
		</div>
	</header>
	<main>
		<section class="p-6 pt-0 md:px-[7vw]">
			<div class="bg-white dark:bg-gray-800 rounded-[50px] shadow-md">
				<div class="flex flex-wrap p-5">
					<div class="w-full pb-3 md:w-1/3 md:pb-0">
						<div
							class="flex items-center justify-center overflow-hidden rounded-3xl aspect-square"
						>
							<Image src={AlexBali} alt="Alex Aspinall" />
						</div>
					</div>
					<div class="w-full p-1 md:w-2/3 md:pt-0 md:pl-6">
						<h2
							class="mb-5 font-bold leading-none tracking-wider uppercase text-hero-sm font-eurostile"
						>
							<span
								class="underline decoration-4 underline-offset-8 decoration-blue-500"
								>About</span
							>
							<span
								class="underline decoration-4 underline-offset-8 decoration-amber-600"
								>Me</span
							>
						</h2>
						<p>
							Hi, I'm Alex. I'm a web developer based in London. I have experience
							with HTML, CSS, and JavaScript, and I'm currently learning React.
						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="py-6">
			<h2
				class="mb-5 font-bold tracking-wider uppercase text-hero-sm font-eurostile px-6 md:px-[7vw] leading-none"
			>
				<span class="underline decoration-4 underline-offset-8 decoration-blue-500">My</span
				>
				<span class="underline decoration-4 underline-offset-8 decoration-amber-600"
					>Projects</span
				>
			</h2>
			<div class="px-6 md:px-[3vw]" id="clientSites">
				<!-- <h3 class="mb-2 font-eurostile-regular text-hero-sm">Client Sites</h3> -->
				<div class="flex flex-wrap justify-start overflow-scroll md:flex-nowrap gap-7">
					<!-- Props: livehref, githubhref, title, blurb, thumb -->
					<!-- Images must be added to projectTumbs.ts -->
					<ProjectCard
						title="Dana Winestone Coaching"
						blurb="A modern, full-featured static website for a Life Coaching business. Built in Astro, boasting Netlify form integration, serverless Mailerlite API email collection, and PagesCMS-driven blog."
						thumb="dana-lbg"
						livehref="https://danawinestonecoaching.netlify.app/"
						githubhref=""
					/>
					<ProjectCard
						title="Terra Java"
						blurb="Terra Java is a boutique catalogue of the world's finest coffee blends, named for the rich coffee fields found on the island of Java in western Indonesia. This was my Full Stack Capstone Project with Code Institute and uses the Django framework."
						thumb="terra-java"
						livehref="https://terra-java-9165cf0b75d7.herokuapp.com/"
						githubhref="https://github.com/alexaspinalldev/Terra-Java"
					/>
				</div>
			</div>
		</section>
	</main></Base
>
