---
import Base from '../layouts/Base.astro'
import SocialLinks from '../components/sociallinks.astro'
import SkillBanner from '../components/skillBanner.astro'
---

<Base title="Home">
	<header class="flex flex-col h-dvh">
		<SocialLinks />
		<div
			class="mb-[4rem] flex grow flex-col flex-wrap items-center justify-center bg-white text-black shadow-md"
		>
			<div class="mt-96 w-fit">
				<h1 class="font-sans text-9xl">Alex Aspinall.</h1>
				<h2 class="font-bold uppercase font-eurostile font-stretch-expanded">
					<span class="underline decoration-blue-500">Full-stack</span>
					<span class="underline decoration-amber-600">Web Developer</span>
				</h2>
			</div>
			<SkillBanner />
		</div>
	</header>
	<main>
		<section>
			<h2>About Me</h2>
			<p>
				Hi, I'm Alex. I'm a web developer based in London. I have experience with HTML, CSS, and
				JavaScript, and I'm currently learning React.
			</p>
		</section>
		<section>
			<h2>Projects</h2>
			<ul>
				<li>
					<h3>Project 1</h3>
					<p>Project 1 description</p>
				</li>
				<li>
					<h3>Project 2</h3>
					<p>Project 2 description</p>
				</li>
				<li>
					<h3>Project 3</h3>
					<p>Project 3 description</p>
				</li>
			</ul>
		</section>
	</main></Base
>
