---

---

<footer class="flex text-sm gap-4 p-1 justify-center items-center font-eurostile-regular">
	<div>
		Website by
		<!-- <a href="https://github.com/alexaspinalldev"
			aria-label="Alex Aspinall's Github account (opens in a new tab)"
			target="_blank"> -->
		Alex Aspinall
		<!-- </a>  -->
		©
		<span id="year"></span>
	</div>
	<!-- <div>|</div> -->
	<!-- <div>
          <a href="https://github.com/alexaspinalldev/Terra-Java/blob/main/README.md"
            aria-label="View the README for this project (opens in a new tab)" target="_blank">Read Me</a>
        </div> -->
</footer>

<script>
	document.getElementById('year')!.textContent = new Date().getFullYear().toString()
</script>
