---
import SocialLinks from '../components/sociallinks.astro'
import SkillBanner from '../components/skillBanner.astro'
---

<header class="flex flex-col h-svh">
	<SocialLinks />
	<div
		class="flex flex-col grow items-center justify-center bg-white dark:bg-black shadow-(--shadow-y-lg) floater"
	>
		<div
			id="heroText"
			class="flex flex-col justify-center pl-6 mx-3 leading-none w-fit grow md:pl-0"
		>
			<h1 class="mb-6 text-hero [text-shadow:_4px_4px_4px_rgb(0_0_0_/_10%)]">
				Alex Aspinall.
			</h1>
			<h2
				class="mb-3 font-bold tracking-wider uppercase text-hero-sm font-eurostile text-nowrap"
			>
				<span class="underline decoration-4 underline-offset-8 decoration-blue-500"
					>Full-stack</span
				>
				<span class="underline decoration-4 underline-offset-8 decoration-amber-600"
					>Web Developer</span
				>
			</h2>
			<!-- <h3 class="text-hero-sm font-eurostile-regular">Call to action</h3> -->
		</div>
		<SkillBanner />
	</div>
	<div class="h-[4rem] flex">
		<div class="flex flex-col items-center justify-center w-full md:hidden">
			<span class="text-center font-eurostile">Scroll down</span>
			<svg
				viewBox="0 -4.5 20 20"
				version="1.1"
				class="size-[1rem]"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				fill="#000000"
				><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
					id="SVGRepo_tracerCarrier"
					stroke-linecap="round"
					stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
					<title>arrow_down [#339]</title>
					<desc>Created with Sketch.</desc>
					<defs> </defs>
					<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g
							id="Dribbble-Light-Preview"
							transform="translate(-180.000000, -6684.000000)"
							fill="#000000"
						>
							<g id="icons" transform="translate(56.000000, 160.000000)">
								<path
									d="M144,6525.39 L142.594,6524 L133.987,6532.261 L133.069,6531.38 L133.074,6531.385 L125.427,6524.045 L124,6525.414 C126.113,6527.443 132.014,6533.107 133.987,6535 C135.453,6533.594 134.024,6534.965 144,6525.39"
									id="arrow_down-[#339]"
								>
								</path>
							</g>
						</g>
					</g>
				</g>
			</svg>
		</div>
	</div>
</header>
