---

---

<div id="skillBanner" class="flex w-screen gap-3 mt-auto mb-10 justify-evenly">
	<i>A</i>
	<i>l</i>
	<i>e</i>
	<i>x</i>
	<i>A</i>
	<i>s</i>
	<i>p</i>
	<i>i</i>
	<i>n</i>
	<i>a</i>
	<i>l</i>
	<i>l</i>
</div>
