---
---
<div
        id="skillBanner"
        class="flex justify-evenly gap-3 w-screen mt-auto mb-10"
      >
        <i>A</i>
        <i>l</i>
        <i>e</i>
        <i>x</i>
        <i>A</i>
        <i>s</i>
        <i>p</i>
        <i>i</i>
        <i>n</i>
        <i>a</i>
        <i>l</i>
        <i>l</i>
      </div>