---

---

<div
	id="skillBanner"
	class="flex flex-wrap w-screen gap-2 p-2 mt-auto mb-10 bg-gray-100 shadow-md justify-evenly"
>
	<!-- Javascript: -->
	<div class="skillCont">
		<svg
			viewBox="0 0 256 256"
			version="1.1"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			preserveAspectRatio="xMidYMid"
			fill="#000000"
			><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
				id="SVGRepo_tracerCarrier"
				stroke-linecap="round"
				stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
				<g>
					<path d="M0,0 L256,0 L256,256 L0,256 L0,0 Z" fill="#F7DF1E"> </path>
					<path
						d="M67.311746,213.932292 L86.902654,202.076241 C90.6821079,208.777346 94.1202286,214.447137 102.367086,214.447137 C110.272203,214.447137 115.256076,211.354819 115.256076,199.326883 L115.256076,117.528787 L139.313575,117.528787 L139.313575,199.666997 C139.313575,224.58433 124.707759,235.925943 103.3984,235.925943 C84.1532952,235.925943 72.9819429,225.958603 67.3113397,213.93026"
						fill="#000000"
					>
					</path>
					<path
						d="M152.380952,211.354413 L171.969422,200.0128 C177.125994,208.433981 183.827911,214.619835 195.684368,214.619835 C205.652521,214.619835 212.009041,209.635962 212.009041,202.762159 C212.009041,194.513676 205.479416,191.592025 194.481168,186.78207 L188.468419,184.202565 C171.111213,176.81473 159.597308,167.53534 159.597308,147.944838 C159.597308,129.901308 173.344508,116.153295 194.825752,116.153295 C210.119924,116.153295 221.117765,121.48094 229.021663,135.400432 L210.29059,147.428775 C206.166146,140.040127 201.699556,137.119289 194.826159,137.119289 C187.78047,137.119289 183.312254,141.587098 183.312254,147.428775 C183.312254,154.646349 187.78047,157.568406 198.089956,162.036622 L204.103924,164.614095 C224.553448,173.378641 236.067352,182.313448 236.067352,202.418387 C236.067352,224.071924 219.055137,235.927975 196.200432,235.927975 C173.860978,235.927975 159.425829,225.274311 152.381359,211.354413"
						fill="#000000"
					>
					</path>
				</g>
			</g></svg
		>
	</div>
	<!-- Typescript: -->
	<div class="skillCont">
		<svg
			viewBox="0 0 256 256"
			version="1.1"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			preserveAspectRatio="xMidYMid"
			fill="#000000"
			><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
				id="SVGRepo_tracerCarrier"
				stroke-linecap="round"
				stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
				<g>
					<polygon
						fill="#007ACC"
						transform="translate(128.000000, 128.000000) scale(1, -1) translate(-128.000000, -128.000000) "
						points="0 128 0 0 128 0 256 0 256 128 256 256 128 256 0 256"
					>
					</polygon>
					<path
						d="M146.658132,223.436863 L146.739401,212.953054 L130.079084,212.953054 L113.418767,212.953054 L113.418767,165.613371 L113.418767,118.273689 L101.63464,118.273689 L89.8505126,118.273689 L89.8505126,165.613371 L89.8505126,212.953054 L73.1901951,212.953054 L56.5298776,212.953054 L56.5298776,223.233689 C56.5298776,228.922577 56.6517824,233.676863 56.8143221,233.798768 C56.9362269,233.961308 77.2130522,234.042577 101.797179,234.001943 L146.536227,233.880038 L146.658132,223.436863 Z"
						fill="#FFFFFF"
						transform="translate(101.634640, 176.142993) rotate(-180.000000) translate(-101.634640, -176.142993) "
					>
					</path>
					<path
						d="M206.566631,234.272145 C213.068219,232.646748 218.025679,229.761668 222.57679,225.048018 C224.933616,222.528653 228.428219,217.936907 228.712663,216.839764 C228.793933,216.514684 217.659965,209.037859 210.914568,204.852462 C210.670758,204.689922 209.69552,205.74643 208.598377,207.371827 C205.306949,212.166748 201.852981,214.239129 196.570441,214.604843 C188.809171,215.133097 183.811076,211.069605 183.851711,204.283573 C183.851711,202.292462 184.136155,201.114049 184.948854,199.488653 C186.65552,195.953414 189.825044,193.840399 199.7806,189.533097 C218.106949,181.649922 225.949489,176.448653 230.825679,169.053097 C236.270758,160.804208 237.489806,147.638494 233.792028,137.845478 C229.728536,127.199129 219.651076,119.966113 205.469489,117.568653 C201.080917,116.796589 190.678377,116.918494 185.964727,117.771827 C175.684092,119.600399 165.931711,124.679764 159.917743,131.343891 C157.560917,133.944526 152.969171,140.730557 153.253616,141.218176 C153.37552,141.380716 154.432028,142.030875 155.610441,142.721668 C156.748219,143.371827 161.05552,145.850557 165.119012,148.207383 L172.473933,152.474049 L174.01806,150.198494 C176.171711,146.907065 180.885362,142.396589 183.729806,140.893097 C191.897425,136.585795 203.112663,137.195319 208.639012,142.15278 C210.995838,144.30643 211.971076,146.541351 211.971076,149.83278 C211.971076,152.799129 211.605362,154.099446 210.061235,156.334367 C208.070123,159.178811 204.006631,161.576272 192.466314,166.574367 C179.259965,172.263256 173.571076,175.798494 168.369806,181.406113 C165.362822,184.656907 162.518377,189.858176 161.339965,194.206113 C160.364727,197.822621 160.120917,206.884208 160.892981,210.541351 C163.61552,223.300716 173.245996,232.199764 187.143139,234.841034 C191.653616,235.694367 202.137425,235.369287 206.566631,234.272145 Z"
						fill="#FFFFFF"
						transform="translate(194.578507, 176.190240) scale(1, -1) translate(-194.578507, -176.190240) "
					>
					</path>
				</g>
			</g></svg
		>
	</div>
	<!-- Astro: -->
	<div class="skillCont">
		<svg viewBox="0 0 85 107" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				d="M27.5894 91.1365C22.7555 86.7178 21.3444 77.4335 23.3583 70.7072C26.8503 74.948 31.6888 76.2914 36.7005 77.0497C44.4375 78.2199 52.0359 77.7822 59.2232 74.2459C60.0454 73.841 60.8052 73.3027 61.7036 72.7574C62.378 74.714 62.5535 76.6892 62.318 78.6996C61.7452 83.5957 59.3086 87.3778 55.4332 90.2448C53.8835 91.3916 52.2437 92.4167 50.6432 93.4979C45.7262 96.8213 44.3959 100.718 46.2435 106.386C46.2874 106.525 46.3267 106.663 46.426 107C43.9155 105.876 42.0817 104.24 40.6845 102.089C39.2087 99.8193 38.5066 97.3081 38.4696 94.5909C38.4511 93.2686 38.4511 91.9345 38.2733 90.6309C37.8391 87.4527 36.3471 86.0297 33.5364 85.9478C30.6518 85.8636 28.37 87.6469 27.7649 90.4554C27.7187 90.6707 27.6517 90.8837 27.5847 91.1341L27.5894 91.1365Z"
				fill="black"></path>
			<path
				d="M27.5894 91.1365C22.7555 86.7178 21.3444 77.4335 23.3583 70.7072C26.8503 74.948 31.6888 76.2914 36.7005 77.0497C44.4375 78.2199 52.0359 77.7822 59.2232 74.2459C60.0454 73.841 60.8052 73.3027 61.7036 72.7574C62.378 74.714 62.5535 76.6892 62.318 78.6996C61.7452 83.5957 59.3086 87.3778 55.4332 90.2448C53.8835 91.3916 52.2437 92.4167 50.6432 93.4979C45.7262 96.8213 44.3959 100.718 46.2435 106.386C46.2874 106.525 46.3267 106.663 46.426 107C43.9155 105.876 42.0817 104.24 40.6845 102.089C39.2087 99.8193 38.5066 97.3081 38.4696 94.5909C38.4511 93.2686 38.4511 91.9345 38.2733 90.6309C37.8391 87.4527 36.3471 86.0297 33.5364 85.9478C30.6518 85.8636 28.37 87.6469 27.7649 90.4554C27.7187 90.6707 27.6517 90.8837 27.5847 91.1341L27.5894 91.1365Z"
				fill="url(#paint0_linear_1_59)"></path>
			<path
				d="M0 69.5866C0 69.5866 14.3139 62.6137 28.6678 62.6137L39.4901 29.1204C39.8953 27.5007 41.0783 26.3999 42.4139 26.3999C43.7495 26.3999 44.9325 27.5007 45.3377 29.1204L56.1601 62.6137C73.1601 62.6137 84.8278 69.5866 84.8278 69.5866C84.8278 69.5866 60.5145 3.35233 60.467 3.21944C59.7692 1.2612 58.5911 0 57.0029 0H27.8274C26.2392 0 25.1087 1.2612 24.3634 3.21944C24.3108 3.34983 0 69.5866 0 69.5866Z"
				fill="black"></path>
			<defs>
				<linearGradient
					id="paint0_linear_1_59"
					x1="22.4702"
					y1="107"
					x2="69.1451"
					y2="84.9468"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-color="#D83333"></stop>
					<stop offset="1" stop-color="#F041FF"></stop>
				</linearGradient>
			</defs>
		</svg>
	</div>
	<!-- Django: -->
	<div class="skillCont">
		<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" fill="#000000"
			><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
				id="SVGRepo_tracerCarrier"
				stroke-linecap="round"
				stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
				><title>file_type_django</title><path
					d="M14.135,4H18.1V22.169a26.218,26.218,0,0,1-5.143.535c-4.842-.005-7.362-2.168-7.362-6.322,0-4,2.673-6.6,6.816-6.6a6.448,6.448,0,0,1,1.724.2V4Zm0,9.142a3.992,3.992,0,0,0-1.337-.2c-2,0-3.163,1.223-3.163,3.366,0,2.087,1.107,3.239,3.138,3.239a9.355,9.355,0,0,0,1.362-.1v-6.3Z"
					style="fill:#0C4B33"></path><path
					d="M24.4,10.059v9.1c0,3.133-.235,4.639-.923,5.938A6.316,6.316,0,0,1,20.237,28l-3.678-1.733A5.708,5.708,0,0,0,19.7,23.638c.566-1.121.745-2.42.745-5.837V10.059Z"
					style="fill:#0C4B33"></path><rect
					x="20.441"
					y="4.02"
					width="3.964"
					height="4.028"
					style="fill:#0C4B33"></rect></g
			></svg
		>
	</div>
	<!-- Tailwind: -->
	<div class="skillCont">
		<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" fill="#000000"
			><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
				id="SVGRepo_tracerCarrier"
				stroke-linecap="round"
				stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
				><title>file_type_tailwind</title><path
					d="M9,13.7q1.4-5.6,7-5.6c5.6,0,6.3,4.2,9.1,4.9q2.8.7,4.9-2.1-1.4,5.6-7,5.6c-5.6,0-6.3-4.2-9.1-4.9Q11.1,10.9,9,13.7ZM2,22.1q1.4-5.6,7-5.6c5.6,0,6.3,4.2,9.1,4.9q2.8.7,4.9-2.1-1.4,5.6-7,5.6c-5.6,0-6.3-4.2-9.1-4.9Q4.1,19.3,2,22.1Z"
					style="fill:#44a8b3"></path></g
			></svg
		>
	</div>
	<!-- Python: -->
	<div class="skillCont">
		<svg
			viewBox="0 0 32 32"
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			fill="#000000"
			><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
				id="SVGRepo_tracerCarrier"
				stroke-linecap="round"
				stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
				><defs
					><linearGradient
						id="a"
						x1="-133.268"
						y1="-202.91"
						x2="-133.198"
						y2="-202.84"
						gradientTransform="translate(25243.061 38519.17) scale(189.38 189.81)"
						gradientUnits="userSpaceOnUse"
						><stop offset="0" stop-color="#387eb8"></stop><stop offset="1" stop-color="#366994"
						></stop></linearGradient
					><linearGradient
						id="b"
						x1="-133.575"
						y1="-203.203"
						x2="-133.495"
						y2="-203.133"
						gradientTransform="translate(25309.061 38583.42) scale(189.38 189.81)"
						gradientUnits="userSpaceOnUse"
						><stop offset="0" stop-color="#ffe052"></stop><stop offset="1" stop-color="#ffc331"
						></stop></linearGradient
					></defs
				><title>file_type_python</title><path
					d="M15.885,2.1c-7.1,0-6.651,3.07-6.651,3.07V8.36h6.752v1H6.545S2,8.8,2,16.005s4.013,6.912,4.013,6.912H8.33V19.556s-.13-4.013,3.9-4.013h6.762s3.772.06,3.772-3.652V5.8s.572-3.712-6.842-3.712h0ZM12.153,4.237a1.214,1.214,0,1,1-1.183,1.244v-.02a1.214,1.214,0,0,1,1.214-1.214h0Z"
					style="fill:url(#a)"></path><path
					d="M16.085,29.91c7.1,0,6.651-3.08,6.651-3.08V23.65H15.985v-1h9.47S30,23.158,30,15.995s-4.013-6.912-4.013-6.912H23.64V12.4s.13,4.013-3.9,4.013H12.975S9.2,16.356,9.2,20.068V26.2s-.572,3.712,6.842,3.712h.04Zm3.732-2.147A1.214,1.214,0,1,1,21,26.519v.03a1.214,1.214,0,0,1-1.214,1.214h.03Z"
					style="fill:url(#b)"></path></g
			></svg
		>
	</div>
	<!-- HTML -->
	<div class="skillCont">
		<svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"
			><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
				id="SVGRepo_tracerCarrier"
				stroke-linecap="round"
				stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
				<path d="M6 28L4 3H28L26 28L16 31L6 28Z" fill="#E44D26"></path>
				<path d="M26 5H16V29.5L24 27L26 5Z" fill="#F16529"></path>
				<path
					d="M9.5 17.5L8.5 8H24L23.5 11H11.5L12 14.5H23L22 24L16 26L10 24L9.5 19H12.5L13 21.5L16 22.5L19 21.5L19.5 17.5H9.5Z"
					fill="white"></path>
			</g></svg
		>
	</div>
	<!-- CSS -->
	<div class="skillCont">
		<svg viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"
			><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
				id="SVGRepo_tracerCarrier"
				stroke-linecap="round"
				stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
				<path d="M6 28L4 3H28L26 28L16 31L6 28Z" fill="#1172B8"></path>
				<path d="M26 5H16V29.5L24 27L26 5Z" fill="#33AADD"></path>
				<path
					d="M19.5 17.5H9.5L9 14L17 11.5H9L8.5 8.5H24L23.5 12L17 14.5H23L22 24L16 26L10 24L9.5 19H12.5L13 21.5L16 22.5L19 21.5L19.5 17.5Z"
					fill="white"></path>
			</g></svg>
	</div>
	<!-- <div class="skillCont"></div> -->
	<!-- <div class="skillCont"></div> -->
	<!-- <div class="skillCont"></div> -->
	<!-- <div class="skillCont"></div> -->
	<!-- <div class="skillCont"></div> -->
</div>
