---
import Button from '../components/button.astro'
// Props are href, onClick, variant, label, svg

import Theme from '../components/themeToggle.astro'
---

<div class="flex h-[5.5rem] justify-end items-center gap-1 md:gap-3 mr-2 md:mr-4 sticky top-0 z-50">
	<Theme />
	<Button
		id="instaLink"
		href="https://www.instagram.com/alexaspinall/"
		variant="btninsta"
		label="Instagram"
		svg="Instagram"
	/>
	<Button
		id="linkedinLink"
		href="https://www.linkedin.com/in/alexaspinalldev/"
		variant="btnblue"
		label="LinkedIn"
		svg="LinkedIn"
		aria-label="Link to my LinkedIn profile (opens in a new tab)"
	/>
	<Button
		id="githubLink"
		href="https://github.com/alexaspinalldev/"
		variant="btnblack"
		label="Github"
		svg="Github"
		aria-label="Link to my Github account (opens in a new tab)"
	/>
	<Button
		id="contactMeLink"
		onClick="contactModal.showModal()"
		variant="btnorange"
		label="Let's work together"
		svg="Mail"
	/>
	<!-- <Button
		id="fitnessCoachingLink"
		href="/fitness/"
		variant="btnred"
		label="Fitness coaching"
		svg="Weight"
		aria-label="Link to my online fitness coaching website"
	/> -->
</div>
