---
import '/src/styles/global.css'

// Props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>alexaspinalldev</title>
		<meta name="author" content="Alex Aspinall" />
		<meta
			name="keywords"
			content="web developer, full-stack, front-end, back-end, react, node, javascript, typescript, css, html"
		/>
		<meta name="description" content="Alex Aspinall - Full-stack Web Developer" />

		<!-- Favicons -->
	</head>
	<body class="font-sans text-black body-bg dark:text-white">
		<slot />
		<!-- Footer -->
	</body>
</html>
